body{
    margin: 0;
}

.content {
    position: absolute;
    width: 145px;
    top: 171px;
    left: 118px;
}

.time {
    width: 145px;
    height: 58px;
    text-align: center;
    color: #000000;
}

.timeText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.functionBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 153px;
    position: relative;
    top: 74px;
}

.functionBtn {
    color: white;
    width: 142px;
    height: 45px;
    font-size: 16px;
    border: none;
}

#startBtn {
    background-color: #4FCC54;
}

#stopBtn {
    background-color: #FF7373;
}

#resetBtn {
    background-color: grey;
}

.addTimes{
    text-align: center;
    position: relative;
    top: 89px;
}

#addTimeText {
    width: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.addTimeBtns{
    display: flex;
    position: relative;
    top: 11px;
    justify-content: space-between;
}

.addTimeBtn{
    background-color: #71C2FC;
    width: 40px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}