.time {
    position: absolute;
    width: 145px;
    height: 58px;
    left: 115px;
    top: 171px;
    text-align: center;
    color: #000000;
}

.timeText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.functionButton{
    color: white;
    position: absolute;
    width: 142px;
    height: 45px;
    left: 118px;
    font-size: 16px;
    border: none;
}

#start {
    background-color: #4FCC54;
    top: 303px;
}

#stop {
    background-color: #FF7373;
    top: 357px;
}

#reset {
    background-color: grey;
    left: 400px;
    top: 400px;
}

#addTimeText {
    position: absolute;
    width: 100px;
    height: 17px;
    left: 161px;
    top: 424px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.addTimeBtn{
    background-color: #71C2FC;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 452px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

#minute1 {
    left: 118px;
}

#minute3 {
    left: 169px;
}

#minute5 {
    left: 220px;
}